# Telegram bot tokeni (Majburiy)
BOT_TOKEN=8523936962:AAG1NJ0UFZvYgLeDpB9yO_NgJ1TV5Ct2EXw

# Instagram login ma'lumotlari (Ixtiyoriy, lekin serverda bloklanish oldini olish uchun tavsiya etiladi)
INSTAGRAM_USERNAME=your_instagram_username
INSTAGRAM_PASSWORD=your_instagram_password
